---
---

@import "{{ site.theme }}";

.markdown-body h1 {
    border-bottom: 0;
}

.markdown-body table {
    color: #000;
}

#website---speed::before {
    background: url(website-speed-1280x1280.png);
    display: block;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	content:'';
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
   color: #ddd;
   font-weight: bold;
}

body {
   background: #333; 
   color: #ddd;
}

a {
    color: #ddd;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: #f90;
}

.main-content .highlight pre, .main-content pre {
   background: #ddd;
}

.page-header {
   background-color: #000;
   background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(17,17,17,1) 100%);
}

/*
https://aregsar.com/blog/2019/how-to-customize-your-github-pages-blog-style-in-five-minutes/
*/
